<link rel="stylesheet" type="text/css" href="/assets/css/style.css">

<div class="jumbotron">
  <h1 class="display-4">Video Game News</h1>
</div>

    {{> nav}}

<div class="container">
    <div class="row"> 
        <h3 class="card" id="artTitle">{{article.title}}</h3>
        <h5 class="card" id="articleBody">{{body}}</h5> 
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <form action="/comment/{{article._id}}" method="POST">
                <h5>Comment on this Article:</h5>
                <div class="row">
                    <input type="text" class="form-control" name="comment" id="commentBody" aria-describedby="commentHelp" placeholder="Enter Comment">
                    <small id="commentHelp" class="form-text text-muted">Share your comments</small>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>

        {{!-- comments go here --}}
    <div class="row">
        <div class="col-lg-12">
            <h5><center>Comments</center></h5>
        </div>
        {{#if article.comment}}
        {{#each article.comment}}
            <div class= "col-lg-12">
                {{body}}
            <hr>
            </div><br>
        {{/each}}
        {{/if}}
    </div>
</div>
